
  .hd-label {
    font-family: $secondary-font-family;
    font-stretch: $secondary-font-stretch;
    font-weight: $secondary-font-weight;
    text-transform: uppercase;
  }
  .stats-list {
    @extend .clearfix;
    margin: 0;
    padding: 0;
    width: 40%;
    float: left;
    line-height: 1.2em;
    dt, dd {
      float: left;
      margin: 0;
      padding: 6px 0;
      &:first-of-type {
        border-top: 0;
      }
    }
    dt {
      @extend .hd-label;
      clear: left;
      padding-right: 8px;
      width: 50%;
      text-transform: inherit;
      font-size: .95em;
    }
    dd {
      padding-left: 8px;
      width: 40%;
      font-size: .88em;
    }
  }
.container-oil-details {
  .stats-list {
    width: 100%;
  }
}
.container-oil-details-meta {
  .stats-list {
    @media screen and (max-width: 750px) {
      width: 50%;
    }
    @media screen and (max-width: 590px) {
      width: 100%;
    }
  }
}

.header-hidden {
  visibility: hidden;
}

.list-element-small {
  font-size: .8em;
  padding-bottom: .5em;
}


  h1, h2, h3, h4 {
    margin: 24px 0 16px 0;
    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 2.2em;
    line-height: 1.1em;
    @extend .hd-label;
  }

  h2 {
    font-size: 1.9em;
    line-height: 32px;
    @extend .hd-label;
    text-transform: inherit;
  }
  h3 {
    font-size: 1.55em;
    line-height: 28px;
  }
  h4 {
    font-size: 1.1em;
    line-height: 24px;
  }
  h5 {
    font-size: 16px;
    line-height: 24px;
  }

  .header-filter {
    margin-bottom: 1.3em;
    cursor: pointer;
    &:after {
      @extend .icon-s-arr-right;
      font-size: .9em;
      float: right;
      margin-right: 1em;
    }
  }

  .header-condensed {
    @extend .hd-label;
    text-transform: inherit;
    margin-bottom: .5em;
  }

  .header-light {
    color: lighten($text-base, 40);
  }

  .header-condensed-capped {
    @extend .hd-label;
    margin-bottom: 1em;
  }

  .prose {
    > *:first-child {
      margin-top: 0;
    }

    hr {
      border: 0;
      height: 1px;
      background: $base-color;
      opacity: 0.08;
      width: 100%;
      margin: 32px auto;
    }

    p, ul, ol, dl, img {
      margin-bottom: 16px;
    }
    ul {
      list-style-type: disc;
    }
    ol {
      list-style-type: decimal;
    }
    ul, ol {
      list-style-position: outside;
      margin-left: 32px;
    }
    blockquote {
      margin: 0 0 0 8px;
      border-left: 4px solid tint($base-color, 80%);
      padding: 0 0 0 8px;
    }
  }

  .labels-homepage {
    @extend .hd-label;
    display: block;
    margin-top: 1em;
    text-align: center;
    font-size: .9em;
    color: $gray-dark;
  }

  .prose-prime-title {
    color: #fff;
    a, a:visited {
      color: inherit;
    }
    a:after {
      @extend .icon-arr-right;
      font-size: 16px;
      vertical-align: middle;
      margin-left: 2px;
      opacity: 0.48;
    }
    small {
      @extend .hd-label;
      display: block;
      font-size: 16px;
      line-height: 1;
      opacity: 0.48;
    }
    span:not(#oil-name) {
      @extend .visually-hidden;
    }
    @media screen and (max-width: 400px) {
      font-size: 1.8em;
    }
  }
  .prose-meta {
    @extend .hd-label;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color: tint($base-color, 56%);
    .bttn-xs {
      vertical-align: top;
      margin: 0 2px;
    }
  }
  .prose-meta ~ .prose-prime-title  {
    margin-top: -16px;
  }

  #no-results-message {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-style: italic;
    color: darken($gray-medium, 10);
  }

  #supply-curve {
    #no-results-message {
      top: 30%;
      padding-left: 7%;
    }
  }

  .prose-title--details {
    a, a:visited {
      color: $text-base;
      border-bottom: 1px solid lighten($gray-dark, 30);
    }
  }

  .header-compare-container {
    margin-left: 31%;
  }

  .header-compare {
    float: left;
    width: 50%;
  }

  .link-centered {
    clear: both;
    display: block;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 3em;
    @media screen and (max-width: 622px) {
      text-align: left;
      margin-left: 2.5%;
    }
  }
