<section class="intro intro-about">
  <div class="overlay-dark">
    <div class="prose prose-centered">
      <h1 class="prose-prime-title">About</h1>
    </div>
    <div class="attribution"><a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a><a href="https://www.digitalglobe.com/" target="_blank">© DigitalGlobe</a></div>
  </div>
</section>
<article id="about-view" class="view">
  <div class="row">
    <div class="prose prose-content">
      <p class="prose-callout">The Oil-Climate Index (OCI) was developed to alert public and private stakeholders to the full array of oils’ climate impacts of oil from various perspectives, with an eye toward informing investment, development, operations, and governance of the oil supply chain. The index provides new knowledge that these stakeholders can take into account to make more informed, strategic, and durable decisions about oil development. For instance, Iit can also be used to analyze public policies to reduce oils’ GHG emissions.</p>
      <p>The OCI is a metric that estimates and compares the total life-cycle greenhouse gas (GHG) emissions of individual oils—from upstream extraction to midstream refining to downstream end use. As the character of oil changes, the OCI offers the opportunity to compare diversifying oils’ GHG footprints.</p>
      <p>The OCI estimates and compares oils’ total life-cycle GHG emissions that stem from their upstream extraction, midstream refining, and downstream end use. Oils that are in production as well as prospective resources can be modeled using the OCI. The index offers the opportunity to manage the diversifying GHG footprints of disparate oils and to plan ahead to mitigate the climate impacts of tomorrow’s oils.</p>
      <p>Thirty oils have been modeled in Phase 1 of the index, the results of which are available in this web tool and in the report Know Your Oil. These resources represent 5 percent of global oil production as of mid-2015. In the next phase, the OCI will be expanded to include 50 global oils, encompassing a greater share of current oil production. As data allow, a goal is also to model oils that fall outside the GHG emission boundaries estimated in Phase 1 and to eventually run oils that are expected to be produced in the future through the OCI model to determine the extent of their GHG emissions. Updates to GHG emission estimates for those oils that have already been modeled will be tabulated and posted as new data are provided.</p>
      <p>Phase 1 of the Oil-Climate Index was developed with funding from the blue moon fund, the William and Flora Hewlett Foundation, the Oak Foundation, the ClimateWorks Foundation, the Rockefeller Family Fund, and the Carnegie Endowment for International Peace.</p>
      <p>The Carnegie Endowment for International Peace is a unique global network of policy research centers in Russia, China, Europe, the Middle East, and the United States. The institution’s mission, dating back more than a century, is to advance the cause of peace through analysis and development of fresh policy ideas and direct engagement and collaboration with decisionmakers in government, business, and civil society. Working together, Carnegie’s centers bring the inestimable benefit of multiple national viewpoints to bilateral, regional, and global issues.</p>
      <p>The Carnegie Energy and Climate Program engages global experts working on issues relating to energy technology, environmental science, and political economy to develop practical solutions for policymakers around the world. The program aims to provide the leadership and the policy framework necessary to minimize the risks that stem from global climate change and competition for resources.</p>
      <p>Development Seed programmed the first version of the OCI web tool.</p>
    </div>
  </div>
</article>
<%= blueBar %>
