<section class="intro intro-about">
  <div class="overlay-dark">
    <div class="prose prose-centered">
      <h1 class="prose-prime-title">About</h1>
    </div>
    <div class="attribution"><a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a><a href="https://www.digitalglobe.com/" target="_blank">© DigitalGlobe</a></div>
  </div>
</section>
<article id="about-view" class="view">
  <div class="row">
    <div class="prose prose-content container-content">
      <div class="prose prose-content">
        <p class="prose-callout">The Oil-Climate Index (OCI) was developed to alert public and private stakeholders to the full array of oils’ climate impacts from various perspectives, with an eye toward informing investment, development, operations, and governance of the oil supply chain. The index provides new knowledge that these stakeholders can take into account to make more informed, strategic, and durable decisions about oil development, operations, and infrastructure planning. For instance, it can be used to analyze public policies to reduce oils’ greenhouse gas (GHG) emissions.</p>
        <p>The OCI is an analytic tool that estimates and compares the total life-cycle GHG emissions of individual oils—from upstream extraction to midstream refining to downstream end use. It also highlights variations in the GHG emissions profiles of different oils in different stages of the supply chain. Oils that are in production as well as prospective resources can be modeled. As the characteristics of oil changes, the OCI enables stakeholders to compare diversifying oils’ GHG footprints and to plan ahead to mitigate the climate impacts of tomorrow’s oils.</p>
        <p><a href="http://oci1.carnegieendowment.org" target="_blank">Phase 1</a> of the OCI modeled 30 global oils; 75 oils, representing nearly 25 percent of global oil production as of mid-2016, were modeled in Phase 2 of the index.</p>
        <p>Phase 2 of the OCI was developed with funding from the William and Flora Hewlett Foundation, the ClimateWorks Foundation, the Rockefeller Family Fund, the Alfred P. Sloan Foundation, and the Carnegie Endowment for International Peace. The Oak Foundation and the blue moon fund joined this list in funding <a href="http://oci1.carnegieendowment.org" target="_blank">Phase 1</a> of the OCI.</p>
        <p>The Carnegie Endowment for International Peace is a unique global network of policy research centers in India, Russia, China, Europe, the Middle East, and the United States. The institution’s mission, dating back more than a century, is to advance the cause of peace through analysis and development of fresh policy ideas and direct engagement and collaboration with decisionmakers in government, business, and civil society. Working together, Carnegie’s centers bring the inestimable benefit of multiple national viewpoints to bilateral, regional, and global issues.</p>
        <p>The Carnegie Energy and Climate Program works with global experts who focus on issues relating to energy technology, environmental science, and political economy to develop practical solutions for policymakers around the world. The program aims to provide the leadership and the policy framework necessary to minimize the risks that stem from global climate change and competition for resources.</p>
        <p><a href="http://developmentseed.com" target="_blank">Development Seed</a> created the first version of the OCI web tool, which has subsequently been expanded and updated in this second version.</p>
      </div>
    </div>
  </div>
</article>
<%= blueBar %>
