<section class="section-callout section-content section-bluebar">
  <div class="row">
    <h3 class="section-callout__header">More Information on the Oil Index</h3>
    <div class="subsection-container">
      <div class="section-subsection">
        <h4 class="header-section-subsection">Answering questions with the OCI</h4>
        <span><a href="#about/video-demos">Demonstration Videos</a></span>
      </div>
      <div class="section-subsection">
        <h4 class="header-section-subsection">Recent news and the OCI blog</h4>
        <span><a href="http://carnegieendowment.org/oci" target="_blank">Visit Carnegie's OCI page</a></span>
      </div>
    </div>
    <span class="link-centered"><a href="#methodology">Download any of the OCI data by visiting the Methodology page</a></span>
  </div>
</section>
