<article id="about-view" class="view view-demovideos">
  <div class="row">
    <div class="prose prose-content">
      <div class="intro-sm">
        <h1>Using the OCI</h1>
        <p>New to the OCI? Watch these demonstration videos to see how the OCI can be used to answer important questions about the oil supply chain.</p>
      </div>
      <h2>There's No Standard Barrel of Oil</h2>
      <p>How does the OCI estimate GHG emissions through the oil supply chain?</p>
      <div class="video-wrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/HPlq-RJInZ4" frameborder="0" allowfullscreen></iframe></div>
      <h2>Conducting GHG Checks and Balances</h2>
      <p>How accurate is emission reporting in the oil sector?</p>
      <div class="video-wrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/h-5xJLkarFs" frameborder="0" allowfullscreen></iframe></div>
      <h2>Advancing Low Carbon Energy</h2>
      <p>How can the oil industry innovate to reduce GHG emissions?</p>
      <div class="video-wrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/o7gqgD9P_5A" frameborder="0" allowfullscreen></iframe></div>
      <h2>Revisiting the Keystone Pipeline</h2>
      <p>Who bears climate responsibility for the heaviest oils?</p>
      <div class="video-wrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/e3Vx3Sc3SQE" frameborder="0" allowfullscreen></iframe></div>    </div>
  </div>
</article>
<%= blueBar %>
