<section class="intro intro-glossary">
  <div class="overlay-dark">
    <div class="prose prose-centered">
      <h1 class="prose-prime-title">Glossary</h1>
      <p class="copy-feature">To learn more about the terms used throughout the site, refer to the <a href="http://www.eia.gov/tools/glossary/index.cfm?id=A" target="_new">U.S. Energy Information Administration Glossary</a>. This glossary draws on oil terms and details found there.</p>
    </div>
    <div class="attribution"><a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a><a href="https://www.digitalglobe.com/" target="_blank">© DigitalGlobe</a></div>
  </div>
</section>
<article id="glossary-view">
  <div class="row">
    <div class="prose prose-content">
      <div class="glossary-def">
        <h2 class="glossary-term" id="annulus-return">Annulus Return</h2>
        <p>The space between inlet and outlet piping in an oil well that allows for fluid and other drilling substances to exit.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="api-gravity">API Gravity</h2>
        <p>A measure of the relative density (weight per volume) of a petroleum liquid compared to the density of water. Oils are categorized by their API gravity as follows: extra-heavy (&gt;15 API), heavy (15–22 API), medium (22–32 API), light (32–42 API), ultra-light (42–52 API), and condensate (&lt;52 API). </p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="asphalt">Asphalt</h2>
        <p>A petroleum product output in PRELIM that is a cement-like material obtained by petroleum processing and contains bituminous material as the predominant component. It is used primarily for road construction.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="associated-gas">Associated Gas</h2>
        <p>Methane or other gaseous hydrocarbons that occur in crude oil reservoirs either as free gas (associated) or as gas in solution with crude oil (dissolved gas). “Natural gas” can refer either to the methane alone or to the mixture of methane and other hydrocarbons.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="bitumen">Bitumen</h2>
        <p>A naturally occurring viscous (thickened) mixture, classified as extra-heavy oil and includes oils sands and tar sands, that is comprised mainly of hydrocarbons heavier than pentane. It may contain sulfur compounds. In its natural viscous state, bitumen is not recoverable at a commercial rate through a conventional well.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="bunker-fuel-production">Bunker Fuel Production</h2>
        <p>Fuel supplied to ships and aircraft, both domestic and foreign, consisting primarily of residual and distillate fuel oil for ships and kerosene-based jet fuel for aircraft.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="classification-bounds">Classification Bounds</h2>
        <p>The collection of characteristics used for sorting oils, including API gravity, sulfur content, production volume, depth, flaring-to-oil ratio, water-to-oil ratio, and gas-to-oil ratio. The quantification of these limits is specified on the OCI Methodology page.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="combustion">Combustion</h2>
        <p>Part of the downstream portion of the oil supply chain that entails burning petroleum products (through chemical oxidation) to generate light, power, or heat.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="condensates">Condensates</h2>
        <p>A light liquid hydrocarbon comprised of mostly pentanes and heavier hydrocarbons that occurs when associated gas is present in an oil field.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="deep-conversion-refinery">Deep Conversion Refinery</h2>
        <p>Part of the midstream portion of the oil supply chain, this is a complex refining configuration used to turn the heaviest oils into petroleum products. Techniques can involve using high temperatures and catalysts to separate (or crack) hydrocarbons and then reject the excess carbon (a process called coking) and/or add hydrogen (hydrotreating) in order to increase production of the highest-value petroleum products.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="diesel-production">Diesel Production</h2>
        <p>A petroleum product output in PRELIM that is composed of distillates obtained in petroleum refining operation or blends of such distillates with residual oil used in motor vehicles. The boiling point and specific gravity are higher for diesel fuels than for gasoline.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="dilbit">Dilbit</h2>
        <p>Bitumen diluted with one or more lighter petroleum products, typically natural-gas condensates such as naphtha, to make it easier to transport, for example, in a pipeline.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="downstream">Downstream</h2>
        <p>The end of the oil supply chain that involves transporting petroleum products to markets and their end use, including, but not limited to, combustion.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="emissions-drivers">Emissions Drivers</h2>
        <p>The particular oil characteristics that are most likely responsible for increasing an oil’s GHG emissions compared to other less important factors. Emissions drivers are determined by identifying whether an oil’s emissions in a particular category are in the top quartile of the OCI Phase 2 sample. These categories are flaring, land use, steam, venting and fugitive emissions, pumping, upgrading, petcoke combustion, refinery heat, and refinery hydrogen.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="end-use">End Use</h2>
        <p>A general term for the part of the downstream portion of the oil supply chain that involves the consumption of all petroleum products that are made from a barrel of oil, whether they are combusted, used as feedstock for consumer products, or otherwise marketed.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="enhanced-oil-recovery">Enhanced Oil Recovery (EOR)</h2>
        <p>A general term for practices and techniques required to extract oil from fields as they deplete, using pressure, injection, heat, and steam.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="extraction">Extraction</h2>
        <p>Part of the upstream portion of the oil supply chain that entails drilling, fracturing, mining, or otherwise accessing oil resources.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="flaring">Flaring</h2>
        <p>The process of combusting and disposing of associated gas that is produced with oil, which occurs for different reasons, including emergency relief, because equipment does not exist to gather and sell the gas on the market, or the associated gas is uneconomical for sale. This is one of nine emissions drivers identified in OCI Phase 2.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="flaring-intensity">Flaring Intensity</h2>
        <p>The magnitude of flaring relative to the actual conditions modeled by OPGEE.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="flare-rate">Flare Rate</h2>
        <p>The amount of gas flared, measured in standard cubic feet of gas per day.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="flaring-to-oil-ratio">Flaring-to-Oil Ratio</h2>
        <p>An upstream operating decision regarding the amount of gas flared for every barrel of oil produced, measured in standard cubic feet of gas per barrel.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="fuel-oil">Fuel Oil</h2>
        <p>One of the petroleum product outputs in PRELIM that is less refined than gasoline so it can be burned in a furnace or boiler. Fuel oil includes distillate fuels (Nos. 1, 2, and 4) and residual fuels (Nos. 5 and 6).</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="fugitive-emissions">Fugitive Emissions</h2>
        <p>Unintended leaks of a gas (including the potent greenhouse gas methane) into the atmosphere from processing, transmission, and/or transportation of oil and other fossil fuels. Along with venting, this is one of nine emissions drivers identified in OCI Phase 2.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="gas-to-oil-ratio">Gas-to-Oil Ratio</h2>
        <p>The estimated total amount of gas production associated with the production of one barrel of oil, measured in standard cubic feet of gas per barrel.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="gasoline-production">Gasoline Production</h2>
        <p>A petroleum product output in PRELIM that is a complex mixture of relatively volatile hydrocarbons used primarily in motor vehicles with spark-ignition engines that is produced in different amounts depending on an oil’s characteristics, the refinery configuration, and global demand.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="global-warming-potential">Global Warming Potential (GWP)</h2>
        <p>An index used to compare the relative radiative forcing of different gases without directly calculating the changes in atmospheric concentrations. GWPs are calculated as the ratio of the radiative forcing that would result from the emission of one kilogram of a greenhouse gas to that which would result from the emission of one kilogram of carbon dioxide over a fixed period of time, such as one hundred years.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="greenhouse-gases">Greenhouse Gases (GHGS)</h2>
        <p>Those gases, such as carbon dioxide (CO2), methane (CH4), and nitrous oxide (N2O), that are transparent to solar (short-wave) radiation but opaque to infrared (long-wave) radiation, thus preventing long-wave radiant energy from leaving Earth’s atmosphere. The net effect is a trapping of absorbed radiation and a tendency to warm the planet’s surface.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="greenhouse-gas-emissions">Greenhouse Gas Emissions (GHG Emissions)</h2>
        <p>Emissions of long-lived climate-impacting gases, measured in CO2 equivalent (eq.) units using the global warming potential of each gas.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="hydroskimming-refinery">Hydroskimming Refinery</h2>
        <p>Part of the midstream portion of the oil supply chain, this is one of the simplest refinery configurations that separates lighter oils into its hydrocarbon components using heat (distillation) and employs other basic treating processes to remove hydrogen gas in order to make high-octane gasoline.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="jet-fuel">Jet Fuel</h2>
        <p>One of the petroleum product outputs in PRELIM that is used in jet aircraft engines. It includes kerosene-type jet fuel and naphtha-type jet fuel.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="land-use">Land Use</h2>
        <p>A variable that represents the impacts generated upstream when oil production releases carbon stored in the soil and requires the removal of biomass, the latter of which engenders both foregone carbon sequestration and emissions from the decomposition of the biomass. This is one of nine emissions drivers identified in OCI Phase 2.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="liquefied-petroleum-gas">Liquefied Petroleum Gas</h2>
        <p>A petroleum product output in PRELIM that is also referred to as LPG or liquid petroleum gas and made up of a group of lighter hydrocarbon gases, primarily propane and butanes. These gases may be marketed individually or mixed. LPG excludes ethane.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="medium-conversion-refinery">Medium Conversion Refinery</h2>
        <p>Part of the midstream portion of the oil supply chain, this is an extension of a hydroskimming refinery that separates medium-gravity oils into their hydrocarbon components using heat and pressure (vacuum distillation) as well as a process (catalytic cracking) that breaks heavier hydrocarbons into gasoline, diesel, and other distillate feedstock.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="megajoule">Megajoule</h2>
        <p>A measure of energy that is equal to 1 million joules.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="midstream">Midstream</h2>
        <p>The middle portion of the oil supply chain that entails refining crude oil or otherwise transforming hydrocarbons into petroleum products.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="off-site-emissions">Off-Site Emissions</h2>
        <p>Activities that generate GHG emissions that cross an upstream (or midstream) boundary. In terms of emissions accounting, emission-related activities that enter the site count as additional emissions (for example, natural gas purchases) and those that are sent off-site are credited and count as negative emissions (for example, natural gas sales).</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="oil-assay">Oil Assay</h2>
        <p>A chemical analysis of a crude oil that provides data for refiners to process a crude oil. The OCI requires that assays are reported in a consistent, standardized format so that they can be input into the OCI midstream model (PRELIM).</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="oil-type">Oil Type</h2>
        <p>An OCI classification scheme, previously called “Oil-Climate Category” in Phase 1, that conveys the general characteristics of crude oils: extra-heavy, heavy, medium, light, ultra-light, condensate, ultra-deep, high gas, and depleted.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="oil-depth">Oil Depth</h2>
        <p>The depth of an oil field, measured in feet to the well bore. For vertical wells, this is equal to the depth below the surface. Offshore oils are measured from the ocean floor. For inclined or horizontal wells, this depth can exceed the vertical depth below the surface.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="petrochemical-feedstock">Petrochemical Feedstock</h2>
        <p>One of the petroleum product outputs in PRELIM that is principally used in the manufacturing of chemicals, rubber, and plastics.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="petroleum-coke">Petroleum Coke</h2>
        <p>One of the petroleum product outputs in OPGEE and PRELIM that is a residue high in carbon content and low in hydrogen that is the final product of thermal decomposition in the condensation process in cracking. Also termed “petcoke.”</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="petcoke-combustion">Petcoke Combustion</h2>
        <p>Petcoke is produced in larger amounts both upstream, when extra-heavy oils are upgraded, and downstream, when heavy and extra-heavy oils are refined. It is produced in smaller amounts when any oil is processed in a deep conversion coking refinery. Burning petcoke for heat or power generation results in higher GHG emissions than other petroleum products. This is one of nine emissions drivers identified in OCI Phase 2.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="pumping">Pumping</h2>
        <p>A variable comprising emissions from the pressure-forcing operation of various secondary-recovery techniques. This is one of nine emissions drivers identified in OCI Phase 2.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="refinery-configuration">Refinery Configuration</h2>
        <p>A midstream decision regarding the types of processing units assembled to transform oils into petroleum products, including hydroskimming used exclusively for light, sweet oils; medium conversion configurations for medium, sweet and sour oils; and deep conversion configurations for heavy, sweet and sour oils.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="refinery-heat">Refinery Heat</h2>
        <p>Heat generated for use in refining using either refinery fuel gas or natural gas. This is one of nine emissions drivers identified in OCI Phase 2.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="refinery-hydrogen">Refinery Hydrogen</h2>
        <p>Hydrogen produced for use in refining, generally for adding to low-API-gravity, carbon-heavy oils. This is one of nine emissions drivers identified in OCI Phase 2.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="refining">Refining</h2>
        <p>Part of the midstream portion of the oil supply chain that entails processing a crude oil to manufacture finished petroleum products, unfinished oils, natural gas liquids, other hydrocarbons, and oxygenates.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="residual-fuels">Residual Fuels</h2>
        <p>One of the petroleum product outputs in PRELIM that is a general classification for heavier bottom-of-the barrel oil residues, known as No. 5 and No. 6 fuel oils, that remain after the distillate fuel oils and lighter hydrocarbons are distilled away in refinery operations. No. 6 fuel oil includes bunker C fuel oil. Residual fuels are used for the production of electric power, space heating, vessel bunkering, and various industrial processes.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="sour-sweet-oil">Sour/Sweet Oil</h2>
        <p>See “sulfur content.”</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="steam">Steam</h2>
        <p>An input needed for thermal recovery (an enhanced oil recovery technique), steam can be generated and used to heat depleted or extra-heavy resources that do not easily flow. Fossil fuels are often used to power steam generation, though solar and other renewable energy sources can be used to lower the emissions impact of steam generation. This is one of nine emissions drivers identified in OCI Phase 2.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="steam-to-oil-ratio">Steam-to-Oil Ratio (SOR)</h2>
        <p>An upstream operating decision affecting the amount of steam input for thermal-oil-recovery projects. This ratio measures the rate of steam injection per barrel of oil produced in barrels of water equivalent per barrel of oil.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="sulfur-content">Sulfur Content</h2>
        <p>Oils in PRELIM are categorized according to the amount of sulfur they contain as follows: sweet (&gt;0.5 percent sulfur) and sour (>0.5 percent sulfur). In the case of synthetic crude oils derived from oil sands, the sulfur content is reported after the bitumen is upgraded into synthetic crude oil.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="synthetic-crude-oil">Synthetic Crude Oil (SCO)</h2>
        <p>An extra-heavy oil, bitumen, or oil sand that, prior to midstream refining, has undergone extensive upstream processing and upgrading to remove a portion of its carbon (in the form of petcoke) and convert it into a synthetic hydrocarbon that simulates conventional oil.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="temperature-cut">Temperature Cut</h2>
        <p>The range of temperatures that corresponds to the separation of various hydrocarbons in crude oil based on their boiling points.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="transportation">Transportation</h2>
        <p>The movement of oil between points in the supply chain, including after extraction, when crude oil is moved to a refinery, and after refining, when petroleum products are sold. Transportation GHG emissions vary with the distance traveled, modes of transport, and transport fuels used.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="upgrading">Upgrading</h2>
        <p>An upstream process in OPGEE that converts extra-heavy oil, bitumen, and oil sands into synthetic crude oils of varying qualities by primarily removing excess carbon and converting it into petcoke. This is one of nine emissions drivers identified in OCI Phase 2.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="upstream">Upstream</h2>
        <p>The beginning of the oil supply chain that includes resource extraction, production, surface processing and upgrading, waste disposal, and other miscellaneous operations, as well as transporting oil to the refinery.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="venting">Venting</h2>
        <p>The intentional release of natural gas into the atmosphere. Venting of natural gas is particularly climate damaging because the methane (CH4) in natural gas is a more potent, though shorter-lived, greenhouse gas than carbon dioxide (CO2). Along with fugitive emissions, this is one of nine emissions drivers identified in OCI Phase 2.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="water-injection-ratio">Water Injection Ratio</h2>
        <p>The amount of water injected into a well to stimulate oil production, measured in barrels of water injected per barrel of crude oil produced.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="water-to-oil-ratio">Water-to-Oil Ratio</h2>
        <p>The total amount of water generated when producing oil, measured in barrels of water produced per barrel of crude oil produced.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="water-intensity">Water Intensity</h2>
        <p>An upstream operating decision regarding the amount of liquid water throughput required to produce a barrel of oil, including both water injected and wastewater generated.</p>
      </div>
      <div class="glossary-def">
        <h2 class="glossary-term" id="years-in-production">Years In Production</h2>
        <p>The time that an oil play has been in active service. Over long periods, this can impact GHG emissions as an oil field depletes, changing its characteristics and the techniques required both upstream and midstream.</p>
      </div>
    </div>
  </div>
</article>
<%= blueBar %>
