<div id="homepage" class="view">

  <!-- intro -->
  <section class="intro intro-home">
    <div class="overlay-dark">
      <div class="row">
        <div class="prose prose-home">
          <h1 class="prose-prime-title">Assessing Global Oils</h1>
          <p class="copy-feature">Oil is the world’s largest and most diverse source of fossil fuel energy. It is found in a wide range of regions and is buried in very different kinds of geologic deposits. Oils have varied chemical makeups, and an array of technologies are needed to extract and refine each oil before it reaches consumers.</p>
          <p class="copy-feature">The OCI quantifies these differences to estimate both the amount and the profile of greenhouse gas (GHG) emissions produced throughout an individual oil’s supply chain. Drill down to see where oils’ GHG emissions arise and how they can be reduced.</p>
        </div>
        <div class="attribution"><a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a><a href="https://www.digitalglobe.com/" target="_blank">© DigitalGlobe</a></div>
      </div>
    </div>
  </section>
  <!--/ intro -->

  <section class="section-callout section-content">
    <div class="row">
      <div class="prose prose-callout prose-callout-secondary">
        <p>Oils have varying impacts on the climate. Differentiating between these effects involves estimating total greenhouse gas (GHG) emissions for each oil throughout the oil supply chain—from upstream extraction to midstream refining to downstream end use. Track these factors across our tool to see how each oil weighs in.</p>
      </div>
    </div>
  </section>
  <section class="section-content-fullwidth">
    <a href="#map">
      <div class="subsection-half" id="map-preview"></div>
    </a>
    <div class="subsection-half subsection-half-right fullheight-section-content">
      <div class="subsection-inner">
        <h2>Map</h2>
        <p>The global distribution of greenhouse gas emissions from the 75 oils in Phase 2 of the OCI.</p>
        <a class="button button-secondary" href="#map">View Map</a>
      </div>
    </div>
  </section>
  <section class="section-content section-content-secondary">
    <div class="row">
      <div class="subsection-half subsection-half-right">
        <a href="#total-emissions">
          <div id="production-graph-preview"></div>
          <span class="labels-homepage">Current Estimated Oil Production</span>
        </a>
      </div>
      <div class="subsection-half subsection-half-left">
        <div class="subsection-inner">
          <h2>Total Emissions</h2>
          <p>The total estimated emissions for 25 percent of global oil production.</p>
          <a class="button button-secondary" href="#total-emissions">View Total Emissions Graph</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-content">
    <div class="row">
      <a href="#supply-chain">
        <div class="subsection-half" id="supply-chain-preview"></div>
      </a>
      <div class="subsection-half subsection-half-right">
        <div class="subsection-inner">
          <h2>Supply Chain</h2>
          <p>The GHG emissions that come from production, refining, and end-use processes. </p>
          <a class="button button-secondary" href="#supply-chain">View Supply Chain Graph</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-content section-content-secondary">
    <div class="row">
      <div class="subsection-half subsection-half-right">
        <a href="#analysis">
          <div id="oil-attributes-preview"></div>
          <span class="labels-homepage"></span>
        </a>
      </div>
      <div class="subsection-half subsection-half-left">
        <div class="subsection-inner">
          <h2>Analysis</h2>
          <p>The relationships between key oil characteristics and GHG emissions.</p>
          <a class="button button-secondary" href="#analysis">View Analysis</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-content-fullwidth">
    <a class="subsection-image" href="#oil/nigeria-escravos-beach">
      <img src="assets/images/layout/homepage-oil-details.jpg" alt="Oil Details Page" width="520px" height="387px" id="oil-details">
    </a>
    <div class="subsection-half subsection-half-right fullheight-section-content">
      <div class="subsection-inner">
        <h2>View Details or Compare Oils</h2>
        <p>The oil’s profile, including its characteristics, emission drivers, and comparisons between related oils.</p>
      </div>
    </div>
  </section>
  <%= blueBar %>
</div>
