<div id="location" class="view">

  <!-- intro -->
  <section class="intro">
    <div class="prose prose-centered">
      <h1>Mapping Oils’ Emissions</h1>
      <p>Total GHG emissions differ by oil. The size of each bubble represents the magnitude of the emissions intensity of the oil to which it corresponds. Use this map to view the origin of each barrel of oil and its associated GHG emissions, examine satellite-detected flaring of an oil’s associated gas, explore oil field boundaries, and learn about the quality of OCI input data for each production pathway.</p>
    </div>
  </section>
  <!--/ intro -->

  <section class="map-overlay map-flaring">
    <div id="map" class="main-map"></div>
    <div class="world-zoom leaflet-bar"></div>
    <div id="bubble-legend">
    </div>
    <div class="map-filter filter-map">
      <div class="control-section">
        <form>
          <fieldset id="year-select">
            <legend class="control-title">Select Year for Flaring Data</legend>
            <div class="radio">
              <label><input type="radio" name="year-select" value="2012">2012</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="year-select" value="2013">2013</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="year-select" value="2014" checked>2014</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="year-select" value="off">Off</label>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="map-filter map-instructions">
      <div class="map-filter-container">
        <span>?</span>
        <div class="map-tooltip">
          <p>To navigate the map more quickly, use your keyboard's arrow keys or hold shift and create a square on the map to zoom into that specific area.</p>
        </div>
      </div>
    </div>
  </section>
  <%= blueBar %>
</div>
