<article id="about-view" class="view">
  <div class="row">
    <div class="prose prose-content">
      <div class="intro-sm">
        <h1>The OCI Models</h1>
      </div>
      <p>Three GHG-emission-estimation models are aggregated to create the Oil-Climate Index. Model outputs are standardized by converting them into the same functional units, or metrics, so emission results can be summed. Phase 2 of the index estimates GHG emissions based on these functional units: per barrel of crude produced, according to the energy content of all final petroleum products (in megajoules), and per dollar value of all petroleum products sold.</p>

      <h3>The Models</h3>
      <p><strong>OPGEE</strong> (the Oil Production Greenhouse Gas Emissions Estimator) was developed by Adam Brandt and his colleagues at Stanford University, with significant assistance provided by James Duffy at the California Air Resources Board. OPGEE estimates upstream GHG emissions from oil resource extraction to transport to the refinery inlet. OPGEE version 1.1 draft E is used in the OCI Phase 2 web tool.<!-- (see <a href="#figure1">figure 1</a>) -->.</p>
      <p>To download OPGEE and view the User Guide and Technical Documentation, visit: <a href="https://pangea.stanford.edu/researchgroups/eao/research/opgee-oil-production-greenhouse-gas-emissions-estimator" target="_blank">https://pangea.stanford.edu/researchgroups/eao/research/opgee-oil-production-greenhouse-gas-emissions-estimator</a>.</p>

      <a name="figure1"></a>
      <div id="opgee-model-schematic" class="contentImg full-width figure"></div>

      <p><strong>PRELIM</strong> (the Petroleum Refinery Life-Cycle Inventory Model) was developed by Joule Bergerson and her colleagues at the University of Calgary. Assistance was provided by Heather MacLean, researchers on the Life-Cycle Assessment of Oil Sands Technologies (LCAOST) project, Natural Resources Canada, Alberta Innovates, Energy and Environment Solutions, Carbon Management Canada, the National Sciences and Engineering Research Council of Canada, and the Carnegie Endowment for International Peace. PRELIM estimates midstream refining GHG emissions from the refinery inlet to the outlet, as well as refined petroleum product yields. PRELIM version 1.1 is used in the OCI Phase 2 web tool.<!--  (see <a href="#figure2">figure 2</a>) -->.</p>
      <p>To download the PRELIM model and view the User Guide and Technical Documentation, visit: <a href="http://www.ucalgary.ca/lcaost/PRELIM" target="_blank">http://www.ucalgary.ca/lcaost/PRELIM</a>. Note: The input data for PRELIM are available in the “Assay Inventory” worksheet of the Excel workbook.</p>

      <a name="figure2"></a>
      <div id="prelim-model-schematic" class="contentImg full-width figure"></div>

      <p><strong>OPEM</strong> (the Oil Products Emissions Module) was developed by Deborah Gordon, Eugene Tan, Jonathan Koomey, and Jeffrey Feldman. OPEM estimates downstream GHG emissions (from the refinery outlet) that result from the transport and end use of all oil products from a given crude. OPEM version 1.1 is used in the OCI Phase 2 web tool<!--  (see <a href="#figure3">figure 3</a>) -->.</p>
      <p>Download an <a href="/assets/OPEM1.0.xlsx" target="_blank">OPEM model workbook</a> (.xlsx).</p>

      <a name="figure3"></a>
      <div id="opem-model-schematic" class="contentImg full-width figure"></div>
    </div>
  </div>
</article>
<%= blueBar %>
