<a href="#" class="toggle clearfix">
  <h3 class="control-title">Model parameters</h3>
  <span class="link-edit link">Edit</span>
  <span class="link-close link">Close</span>
</a>
<div class="mp-summary">
  <ul class="mp-list">
    <li>
      <h6 class="key icon-solar-steam" data-title-after="Solar Steam">Solar Steam</h6>
      <div class="value solar-steam"><span></span></div>
    </li>
    <li>
      <h6 class="key icon-flare" data-title-after="Gas associated with oil can be disposed of by burning">Flaring-to-Oil Ratio</h6>
      <div class="value flare"><span></span></div>
    </li>
    <li>
      <h6 class="key icon-water" data-title-after="Water can be produced with oil and/or used during extraction">Water Intensity</h6>
      <div class="value water"><span></span></div>
    </li>
    <li>
      <h6 class="key icon-refinery" data-title-after="Refinery design can alter midstream emissions and downstream products">Refinery Configuration</h6>
      <div class="value refinery"><span></span></div>
    </li>
    <li>
      <h6 class="key icon-petcoke" data-title-after="This dirty, bottom-of-the-barrel product might be burned">Petcoke Combustion</h6>
      <div class="value petcoke" ><span></span></div>
    </li>
    <li>
      <h6 class="key icon-lpg" data-title-after="Liquefied Petroleum Gas">Liquefied Petroleum Gas</h6>
      <div class="value lpg"><span></span></div>
    </li>
  </ul>
</div>
<div class="mp-edit">
  <div class="param-control icon-solar-steam">
    <div class="container-filter_title">
      <strong class="param-title">Solar Steam</strong>
      <span data-title-after="Solar Steam" class="icon-information">?</span>
    </div>
    <div class="slider" id="slider-solar-steam"></div>
  </div>
  <div class="param-control icon-flare">
    <div class="container-filter_title">
      <strong class="param-title">Flaring-to-Oil Ratio</strong>
      <span data-title-before="Gas associated with oil can be disposed of by burning" class="icon-information">?</span>
    </div>
    <div class="slider" id="slider-flaring"></div>
  </div>
  <div class="param-control icon-water">
    <div class="container-filter_title">
      <strong class="param-title">Water Intensity</strong>
      <span data-title-before="Water can be produced with oil and/or used during extraction" class="icon-information">?</span>
    </div>
    <div class="slider" id="slider-water"></div>
  </div>
  <div class="param-control icon-petcoke">
    <div class="container-filter_title">
      <strong class="param-title">Petroleum Coke Combustion</strong>
      <span data-title-before="This dirty, bottom-of-the-barrel product might be burned" class="icon-information">?</span>
    </div>
    <div class="slider" id="slider-coke"></div>
  </div>
  <div class="param-control icon-refinery">
    <div class="container-filter_title">
      <strong class="param-title">Refinery Configuration</strong>
      <span data-title-before="Refinery design can alter midstream emissions and downstream products" class="icon-information">?</span>
    </div>
    <select class="config-dropdown form-control" id="dropdown-refinery">
      <option value="0 = Default">Default</option>
      <option value="1 = Hydroskimming">Hydroskimming</option>
      <option value="2 = Medium Conversion">Medium Conversion</option>
      <option value="3 = Deep Conversion (Coking)">Deep Conversion: Coking</option>
      <option value="4 = Deep Conversion (Hydrotreating)">Deep Conversion: Hydrocracking</option>
    </select>
  </div>
  <div class="param-control icon-lpg">
    <div class="container-filter_title">
      <strong class="param-title">Liquefied Petroleum Gas</strong>
      <span data-title-before="Liquefied Petroleum Gas" class="icon-information">?</span>
    </div>
    <label class="switch lpg-override" for="toggle-lpg">
      <input id="toggle-lpg" type="checkbox" checked />
      <span class="switch-text">Liquefied Petroleum Gas</span>
      <span class="switch-ui"></span>
    </label>
  </div>
</div>
