<article id="about-view" class="view view-team">
  <div class="row">
    <div class="intro-sm">
      <h1>The OCI Team</h1>
    </div>
    <div class="prose prose-content">
      <div class="container-bio clearfix">
        <div id="gordon" class="contentImg float-left headshot"></div>
        <div class="bio">
          <p><a href="http://carnegieendowment.org/experts/?fa=558" target="_blank">Deborah Gordon</a> is the director of and a senior associate in the Energy and Climate Program at the Carnegie Endowment for International Peace. Her research focuses on the climate implications of unconventional oil and fossil fuels in the United States and around the world. Gordon founded the transportation program at the Union of Concerned Scientists, taught at the Yale School of Forestry and Environmental Studies, and developed vehicle efficiency policies at the U.S. Department of Energy’s Lawrence Berkeley National Laboratory. She began her career as a chemical engineer with Chevron and received a master’s degree in public policy from the University of California, Berkeley. From 1996 to 2010, Gordon ran a consulting practice specializing in transportation, energy, and environmental policy. She has served on National Academy of Sciences committees and the Transportation Research Board’s Energy Committee. Gordon has authored and contributed chapters to numerous books. The most recent, Two Billion Cars (with Daniel Sperling), provides a road map for navigating the biggest global environmental challenges of this century—cars and oil (Oxford University Press, 2009).</p>
        </div>
      </div>
      <div class="container-bio clearfix">
        <div id="brandt" class="contentImg float-left headshot"></div>
        <div class="bio">
          <p><a href="http://pangea.stanford.edu/~abrandt/" target="_blank">Adam Brandt</a> is an assistant professor in the Department of Energy Resources Engineering at Stanford University. His research focuses on reducing the greenhouse gas impacts of energy production and consumption, with a focus on fossil energy systems. His research interests include life-cycle assessments of petroleum production and natural gas extraction. A particular interest of his is in unconventional fossil fuel resources such as oil sands, oil shale, and hydraulically fractured oil and gas resources. He also researches computational optimization of emissions mitigation technologies, such as carbon dioxide capture systems. Brandt received his doctorate from the Energy and Resources Group at the University of California, Berkeley.</p>
        </div>
      </div>
      <div class="container-bio clearfix">
        <div id="bergerson" class="contentImg float-left headshot"></div>
        <div class="bio">
          <p><a href="http://schulich.ucalgary.ca/profiles/joule-bergerson" target="_blank">Joule Bergerson</a> is an assistant professor in the Chemical and Petroleum Engineering Department and the Center for Environmental Engineering Research and Education in the Schulich School of Engineering at the University of Calgary. Her primary research interests are systems-level analysis of energy system investment and management for policy and decisionmaking. The focus of Bergerson’s work is developing tools and frameworks for the assessment of prospective technology options and their policy implications from a life-cycle perspective. To date, her work has addressed fossil-fuel-derived electricity, oil sands development, carbon capture and storage, renewable energy, and energy storage technologies.</p>
        </div>
      </div>
      <div class="container-bio clearfix">
        <div id="koomey" class="contentImg float-left headshot"></div>
        <div class="bio">
          <p><a href="http://www.koomey.com/" target="_blank">Jonathan Koomey</a> is a research fellow at the Steyer-Taylor Center for Energy Policy and Finance at Stanford University. He worked for more than two decades at the Lawrence Berkeley National Laboratory and has been a visiting professor at Stanford University, Yale University, and the University of California, Berkeley’s Energy and Resources Group. He was a lecturer in management at Stanford’s Graduate School of Business in the spring of 2013. Koomey holds master’s and doctoral degrees from the Energy and Resources Group at the University of California, Berkeley, and a bachelor’s in History and Science from Harvard University. He is the author or co-author of nine books and more than 200 articles and reports. He is also one of the leading international experts on the economics of reducing greenhouse gas emissions, the effects of information technology on resource use, and the energy use and economics of data centers. Koomey is the author of Turning Numbers Into Knowledge: Mastering the Art of Problem Solving (which has been translated into Chinese and Italian) and Cold Cash, Cool Climate: Science-Based Advice for Ecological Entrepreneurs. (Both books were published by Analytics Press.)</p>
        </div>
      </div>

      <h3>Others Involved in OCI Research and Development</h3>
      <div class="container-bio clearfix">
        <div id="livingston" class="contentImg float-left headshot"></div>
        <div class="bio">
          <p><a href="http://carnegieendowment.org/experts/?fa=553" target="_blank">David Livingston</a>, an associate in Carnegie’s Energy and Climate Program, was involved in OCI development at its inception and is currently researching the index’s policy applications. He previously worked at the World Trade Organization in Geneva and served as an adviser to the director of the Energy and Climate Change Branch of the United Nations Industrial Development Organization in Vienna. Livingston is a member of the Aspen Institute, the International Association for Energy Economics, and the Royal Institute for International Affairs (Chatham House). He was selected as a Future Energy Leader for the 2014–2017 term of the World Energy Council.</p>
        </div>
      </div>
         <div class="container-bio clearfix">
        <div class="bio">
          <p>Florencia Franzini, a program coordinator in Carnegie’s Energy and Climate Program, assumed responsibility for running all oils through the component models of OCI Phase 2 and managed the communications and finance logistics throughout the development of OCI Phase 2. She previously worked for Osa Conservation in Costa Rica. Franzini graduated from SUNY Stony Brook with a bachelor’s degree in marine vertebrate biology and will begin a master’s degree in forestry sciences and business at Helsinki University in Finland in the fall of 2016.</p>
        </div>
      </div>
      <div class="container-bio clearfix">
        <div class="bio">
          <p>Carnegie’s junior fellows (JF) contributed significantly to the OCI over the course of its development both in Phase 1 and Phase 2. Eugene Tan, JF class of 2014–2015, co-developed the Oil Products Emissions Module (OPEM) version 1.0 and worked closely with the web designers to bring the OCI to fruition. Tan graduated from Colorado College with a bachelor’s degree in environmental science with a concentration in chemistry. Jeffrey Feldman, JF class of 2015–2016, worked closely with the OCI research team to update OCI Phase 2, collaborated with the web designers to bring OCI Phase 2 online, updated OPEM to version 1.1, developed a methodology for assessing emission drivers, and provided research support throughout the year on OCI Phase 2. Feldman graduated from Amherst College with a bachelor’s degree in economics and will begin his doctorate in political science at Brown University in the fall of 2016. Sam Wojcicki, JF class of 2016–2017, joins Carnegie at the release of OCI Phase 2 and is initially working to expand OPEM to version 2.0. Wojcicki graduated from Virginia Commonwealth University with a bachelor’s degree in chemical engineering.</p>
          <p>Research support was also provided at various stages of the OCI’s development by: Kourosh Vafi, Sharad Bharadwaj, Yuchi Sun, and Jacob Englander at the Environmental Assessment and Optimization Group at Stanford University; Kavan Motazedi at the University of Calgary; Jessica Abella formerly at the University of Calgary and currently at ICF International; Heather MacLean at the University of Toronto; and Zachary Schmidt at Analytics Press.</p>
        </div>
      </div>
      
    </div>
  </div>
</article>
<%= blueBar %>
