<article id="about-view" class="view view-terms">
  <div class="row">
    <div class="prose prose-content">
      <div class="intro-sm">
        <h1>Terms of Use</h1>
      </div>
      <p><em>Updated as of August 2, 2016</em>
      <p>By using this website (the "Website"), the user ("You") has accepted these Terms of Use. The Carnegie Endowment for International Peace (“Carnegie”) may update these Terms of Use at any time. All changes shall be effective immediately.</p>
      <p><strong>Statement of Purpose:</strong> The Oil-Climate Index (OCI), a collection of three open-source models, was developed as an integrated tool to systematically estimate the total greenhouse gas (GHG) emissions embodied in an entire barrel of oil. While OCI transparency allows users to delve into the models themselves, the Terms of Use of the OCI requires that its underlying models are used together. This ensures that the OCI provides a fully comparable and comprehensive estimate of the lifecycle GHG emissions per barrel of global oils. The OCI is a web tool that is updated to include additional test oils as new, verifiable oil input data are collected. Refer to the OCI Change Log on the OCI Methodology tab for OCI updates. Exceptions for OCI model runs for atypical oils are referenced the Special Cases tab.</p>
      <p><strong>Attribution:</strong> When referencing official outputs from the Oil-Climate Index (OCI), subject to the Terms of Use above, cite the URL, http://oci.carnegieendowment.org/. If a full citation is needed, use: Deborah Gordon, Adam Brandt, Joule Bergerson, and Jonathan Koomey, Oil-Climate Index, http://oci.carnegieendowment.org/, created 2015 and updated 2016. If users input different assumptions into the OCI and report their own results, they should specify what they changed and cite the OCI as follows: “User’s modifications to http://oci.carnegieendowment.org.”</p>
      <p><strong>Reporting Errors:</strong> To report data and calculations that the user believes to be in error, contact <a href="mailto:webmaster@ceip.org">webmaster@ceip.org</a>.</p>
      <p><strong>Accuracy and Completeness of Information on Website:</strong> The material on this website is provided for estimates only and should not be relied upon or used as the sole basis for making decisions without verifying primary, more complete, or more timely sources of information. Any reliance on the material on this website is at your own risk. Carnegie shall not be responsible or liable to you for any loss or damage of any sort incurred by you in connection with your use of the data on this website. This website may contain certain historical information. Historical information necessarily is not current and is provided for your reference only.</p>
      <p><strong>Linked Sites:</strong> The website contains links to other websites and resources. These links are provided for the underlying OCI models and may be subject to additional terms of use. Carnegie does not endorse or assume responsibility for content at linked sites.</p>
      <p><strong>Lawful Use Only:</strong> You may not use this site for any unlawful purpose. Your use of this website is subject to all applicable local, state, national, and international laws and regulations. You may not use this site in any manner that could damage or overburden the website or interfere with any other party’s use of the website. Any attempt to deliberately damage or inappropriately access this website is a violation of criminal and civil laws and will be handled as such.</p>
    </div>
  </div>
</article>
<%= blueBar %>
